# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "0761d342387bcf84e8c0fd9fa806f7ec"
name = "custom-cocktail-custom-page"
application_url = "https://example.com"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-04"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_metaobject_definitions,write_metaobjects,write_products,write_cart_transforms"

[auth]
redirect_urls = [ "https://example.com/api/auth" ]
