<div>This is liquid template</div>
<div>git repo testing testing</div>
<div id="cc-widget"></div>

<script src="{{ 'widget.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "SHOP Custom Cocktail",
  "target": "section"
}
{% endschema %}
