<script src="{{ 'widget.js' | asset_url }}" defer></script>

<div id="cc-widget"></div>

<script type="application/json" id="cc-customer-config">
  {
    "pcid": "{{ customer.metafields.custom.pc_id }}"
  }
</script>

<button class="js-cc-widget-debug">Show Debug Info </button>
<div class="js-cc-widget-debug-info cc-widget-debug" style="display: none">
  <strong>Customer Info: </strong>
{% if customer %}
  <div><span>customerId: </span>{{ customer.id }}</div>
  <div><span>pcid: </span>{{ customer.metafields.custom.pc_id }}</div>
{% endif %}
</div>

{% schema %}
{
  "name": "SHOP Custom Cocktail",
  "target": "section"
}
{% endschema %}
