<script src="{{ 'widget.js' | asset_url }}" defer></script>

<div id="cc-widget"></div>

<div><strong>Customer Info: </strong>
{% if customer %}
  <div><span>customerId: </span>{{ customer.id }}</div>
  <div><span>pcid: </span>{{ customer.metafields.custom.pc_id }}</div>
{% endif %}
</div>

{% schema %}
{
  "name": "SHOP Custom Cocktail",
  "target": "section"
}
{% endschema %}
