.cc-widget-wrapper{
  display: flex;
  flex-direction: column;
}

.cc-product-wrapper {
  display: flex;
}

.cc-product {
  &__title {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
  }
  &__img {
    max-width: 200px;
  }
  &__description {
    font-size: 14px;
  }
  &__purchase {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__pill-container {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
  }
  &__pill {
    padding: 8px 16px;
    border-radius: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
    background: #fff;
    color: #000;
    transition: all 0.2s ease;
    &--active {
      color: #fff;
      background: #000;
    }
  }
  &__price {
    font-weight: bold;
    font-size: 20px;
    &--sale {
      text-decoration: line-through;
      padding-left: 20px;
    }
  }
  &__add-to-cart-btn {
    background-color: #414467;
    color: #ffffff;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #202340;
    border-radius: 50px;
    transition: background-color 0.3s;
    font-weight: bold;
    max-width: 280px;
    width: 100%;
  }
}

.cc-builder {
  &__title {
    font-weight: bold;
  }
}
