.cc-widget-wrapper{
  display: flex;
  flex-direction: column;
}

.cc-product-wrapper {
  display: flex;
}

.cc-product {
  &__title {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
  }
  &__img {
    max-width: 200px;
  }
  &__description {
    font-size: 14px;
  }
  &__purchase {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__pill-container {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
  }
  &__pill {
    padding: 8px 16px;
    border-radius: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
    background: #fff;
    color: #000;
    transition: all 0.2s ease;
    &--active {
      color: #fff;
      background: #000;
    }
  }
  &__price {
    font-weight: bold;
    font-size: 20px;
    &--sale {
      text-decoration: line-through;
      padding-left: 20px;
    }
  }
  &__add-to-cart-btn {
    background-color: #414467;
    color: #ffffff;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #202340;
    border-radius: 50px;
    transition: background-color 0.3s;
    font-weight: bold;
    max-width: 280px;
    width: 100%;
  }
}

.cc-builder {
  &__title {
    font-weight: bold;
  }
  &__prod {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    box-shadow: 0 0 5px 1px #dadbe6;
    padding: 10px;

    &-title {
      font-weight: bold;
      font-size: 14px;
    }
    &-img {
      width: 200px;
    }
    &-letter {
      display: none;
    }
    &-action {
      display: flex;
      gap: 20px;
    }
  }
  &__prod-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  &__prod-action-btn {
    background-color: #fff;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    float: left;
    height: 24px;
    width: 24px;

    &--subtract {
      background-image: url(https://img.mashop.com/Image/resources/images/icon-minus-shop-blue-sm.svg);
    }
    &--add {
      background-image: url(https://img.mashop.com/Image/resources/images/icon-plus-shop-blue-sm.svg);
    }
  }
}
